[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
"beautifulsoup4" = "*"
requests = "*"
pymongo = "*"
tle2czml = {git = "https://github.com/EzraBrooks/tle2czml.git"}
dnspython = "*"

[dev-packages]
tle2czml = {editable = true, path = "./tle2czml"}

[requires]
python_version = "3.8"
