[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"tle2czml" = "*"
flask = "*"
gunicorn = "*"
"beautifulsoup4" = "*"
requests = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
